.appName {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px;
  }
  
.navigators{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navigators > a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2s;
}
header  a:hover {
    background-color: steelblue;
}

.textinput {
    margin: 0px 2px;
    padding: 2px;
    color: black;
}
/* 
const TEXT_INPUT_CLASSES: &str = "rounded-md mx-2 p-2 text-black required:ring-2 required:ring-red-500 required:valid:ring-2 required:valid:ring-green-500";

<div class="flex justify-center items-center content-center flex-col m-auto">
            <div class="flex items-center flex-col">
                <h1 class="text-xl">{ "Vid Conference" }</h1>
                <p class="text-xs">{ "Create your videocall by creating a user and meeting id." }</p>
                <p class="text-xs">{ "Characters allowed: a-z, A-Z, 0-9, and _" }</p>
            </div> */